
<h1>Simulate a phone</h1> <br />
<input class="fakephonebutton" type="text" id="device_id" /> <br />
<button class="fakephonebutton" id="start_fakephone">Generate coordinates</button><br />
<button class="fakephonebutton" id="stop_fakephone">Stop coordinates</button>

<ul id="coordinate_list">
</ul>