<h1 id="title">Senior Design 2011</h1>
        <div id="tags">tile, ratio, singleTile, performance</div>
        <p id="shortdesc">
            
        </p>  
        <div id="mapDiv" class="bigmap"></div>
        <div id="docs">
            <p>
               
            </p>
            
        </div><br />
        <div id="coordinates"></div><br />
        X: <input id="x_pos" type="text" />
        Y: <input id="y_pos" type="text" />
      <button id="move_marker">Move marker</button>